/* FORM */
:root {
  --button-gradient: linear-gradient(to right, #000f6e, #0070dd, #56e0ea);
}
.form__section {
  margin-top: 110px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 2.75rem 3.375rem;
  background: var(--bg-white);
  box-shadow: var(--default-shadow);
  border-radius: 20px;
}
.form__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;

  h2 {
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 500;
  }
  p {
    font-size: 1rem;
    line-height: 1.25rem;
    font-weight: 400;
  }
}
.form__offer__inputs {
  display: flex;
  flex-direction: row;
  gap: 20px;
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: 300;
}
.input__wrapper {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;

  &.checkbox__wrapper {
    margin-block: 22px 40px;
  }

  input::placeholder {
    color: var(--text-lightGray);
  }
  input:not(:is([type="radio"], [type="checkbox"])) {
    width: 100%;
    box-sizing: border-box;
    font: inherit;
    padding: 1rem 1.25rem;
    background: var(--bg-lightGray);
    border: none;
    border-radius: 12px;
  }
}

.form__offer__checkbox-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;

  label {
    font-size: 1rem;
    line-height: 1.25rem;
    font-weight: 300;
    cursor: pointer;
  }
}

/* Required Star */
.form__offer {
  .input__required {
    color: var(--input-red);
    position: absolute;
    top: 6px;
    right: 8px;
  }

  .input__required-with-label-wrapper {
    flex: 1;
  }

  .input__required-with-label {
    position: relative;
    width: fit-content;

    &::after {
      content: "*";
      color: var(--input-red);
      position: absolute;
      top: -6px;
      bottom: unset;

      right: -16px;

      @media (max-width: 409px) {
        top: unset;
        bottom: 0;
      }
    }
  }
}
.input__errors {
  .input__error {
    color: var(--input-red);
    margin-top: 4px;
    font-size: 0.75rem;
    line-height: 1rem;
  }
}

@media (max-width: 1023px) {
  .input__errors .input__error {
    font-size: 0.625rem;
    line-height: 0.875rem;
  }
  .form__section {
    margin-top: 44px;
    padding: 1.25rem 1rem;
    gap: 32px;
  }
  .form__info {
    gap: 12px;

    h2 {
      font-size: 1.25rem;
      line-height: 1.5rem;
      text-align: center;
    }
    p {
      font-size: 0.875rem;
      line-height: 1.125rem;
      text-align: center;
    }
  }
  .form__offer__inputs {
    flex-direction: column;
    font-size: 0.935rem;
    line-height: 1.185rem;
  }
  .input__wrapper.checkbox__wrapper {
    margin-block: 32px 40px;
  }
  .form__offer__checkbox-wrapper {
    label {
      font-size: 0.685rem;
      line-height: 0.935rem;
    }
  }
}
/* END FORM */
