/* HEADER */
.header {
  box-sizing: border-box;
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 28px;
  background-color: var(--bg-white);
  box-shadow: var(--default-shadow);
  padding: 1.75rem 2.5rem;
  gap: 42px;
}
.nav {
  display: flex;
  flex-direction: row;
  gap: 32px;
  width: fit-content;
}
.nav__link {
  text-decoration: none;
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: 500;
  color: var(--text-black);
}
.feedback__button {
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: 400;
  color: var(--text-blue);
  background-color: var(--bg-cyan);
  padding: 1rem 1.5rem;
  border-radius: 16px;
}
/* END HEADER */
