:root {
  --colorBlue: #000f6e;
  --colorRed: #c01919;
  --colorGreen: #19c04b;
  --colorGold: #c08019;
  --colorBlack: #000000;
}

/* HERO */
.hero__section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 140px;
  gap: 16px;
}
.hero__info-purchase-wrapper {
  display: flex;
  flex-direction: column;
  gap: 52px;
}
.hero__info-wrapper,
.hero__info {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.hero__info-wrapper {
  gap: 28px;
}
.hero__info {
  gap: 20px;
}
.hero__purchase {
  max-width: 539px;
}
.hero__title,
.hero__price {
  font-size: 2.5rem;
  line-height: 2.75rem;
  font-weight: 700;
}
.hero__type {
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: 500;
}
.hero__info-main {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 28px;
}
.purchase__options {
  display: flex;
  flex-direction: column;
  gap: 28px;
}
.purchase__item {
  height: fit-content;
  padding: 1.25rem;
  background: var(--bg-white);
  box-shadow: var(--default-shadow);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  cursor: pointer;
}
.purchase__price {
  font-size: 1.5rem;
  line-height: 1.25rem;
  font-weight: 600;
  color: var(--text-lightBlue);
}
.purchase__content {
  display: flex;
  flex-direction: column;
  gap: 16px;

  h3 {
    font-size: 1.5rem;
    line-height: 1.75rem;
    font-weight: 600;
  }
  p {
    font-size: 1rem;
    line-height: 1.25rem;
    font-weight: 400;
  }
}
.purchase__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.hero__visual {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.hero__visual__colors {
  margin-top: 45px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: fit-content;
}
.hero__visual__color {
  width: 76px;
  height: 57px;
  border-radius: 16px;

  &.blue {
    background: var(--colorBlue);
  }
  &.red {
    background: var(--colorRed);
  }
  &.green {
    background: var(--colorGreen);
  }
  &.gold {
    background: var(--colorGold);
  }
  &.black {
    background: var(--colorBlack);
  }
}
.hero__visual__gallery {
  display: flex;
  gap: 40px;
  margin-top: auto;

  img {
    width: 200px;
    height: 114px;
    border-radius: 16px;
    object-fit: cover;
    object-position: center;
    box-shadow: var(--default-shadow);
  }
}
.hero__mobile-buttons {
  display: none;
  flex-direction: column;
  gap: 16px;
  margin-top: 16px;

  button {
    font-size: 1rem;
    line-height: 1.25rem;
    font-weight: 700;
    padding: 0.875rem 1.5rem;
    border-radius: 12px;
  }
}
.hero__mobile-tradein {
  color: var(--text-cyan);
  background: var(--bg-lighterGray);
  border: 1px solid var(--border-cyan);
}

@media (max-width: 1023px) {
  .hero__visual__gallery {
    display: none;
  }
  .purchase__options {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    gap: 0;
    justify-content: space-between;
  }
  .purchase__header {
    display: contents;
  }
  .purchase__item {
    padding: 0.75rem;
    gap: 8px;
    box-sizing: border-box;
    flex: 1;
    margin-right: 16px;

    &:last-child {
      margin-right: 0;
    }

    .hero__button {
      order: 1;
    }
    .purchase__content {
      gap: 12px;
      order: 2;

      h3 {
        font-size: 1rem;
        line-height: 1.25rem;
      }
      p {
        font-size: 0.75rem;
        line-height: 0.875rem;
        height: 84px;
      }
    }
    .purchase__price {
      order: 3;
      font-size: 0.935rem;
      line-height: 1.185rem;
    }
  }
  .hero__info-purchase-wrapper {
    display: contents;
  }
  .hero__info {
    gap: 12px;
  }
  .hero__visual__colors {
    width: 100%;
    margin-top: 20px;
    gap: 12px;
  }
  .hero__visual__color {
    width: 44px;
    height: 33px;
    border-radius: 8px;
  }
  .hero__title {
    font-size: 1.25rem;
    line-height: 1.5rem;
  }
  .hero__type {
    font-size: 1rem;
    line-height: 1.25rem;
  }
  .hero__price {
    font-size: 1.5rem;
    line-height: 1.75rem;
  }

  .hero__section {
    margin-top: 56px;
    display: flex;
    flex-direction: column;
  }

  .hero__info-main {
    gap: 8px;
    order: 1;
  }

  .hero__visual {
    align-items: flex-start;
    order: 2;

    img {
      width: 100%;
      margin-top: 20px;
    }
  }
  .hero__mobile-buttons {
    display: flex;
    order: 3;
  }

  .hero__purchase {
    order: 4;
    width: 100%;
    margin-top: 16px;
    max-width: unset;
  }
}

@media (max-width: 599px) {
  .purchase__options {
    justify-content: unset;
  }
  .purchase__item {
    flex: 0 0 166px;
  }
}
/* END HERO */
