/* POPULAR */
.popular__section {
  margin: 140px 0 200px 0;
  display: flex;
  flex-direction: column;
  gap: 52px;
  justify-content: flex-start;

  h2 {
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 700;
  }
}
.popular__carousel {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}
.popular__card {
  border-radius: 24px;
  display: flex;
  align-items: flex-end;
  position: relative;
  max-width: 405px;
  height: 662px;
  background: var(--bg-lighterGray);
  box-sizing: border-box;
  padding: 2.5rem 2rem;
  .bg__pattern {
    border-radius: 24px 24px 0 0;
    position: absolute;
    left: 0;
    top: 0;
  }
  .car__img {
    position: absolute;
    left: 0;
    top: 76px;
  }
}
.popular__card__content {
  width: 100%;
}
.card__content__info-wrapper {
  display: flex;
  flex-direction: column;
  gap: 44px;
}
.card__content__info-main {
  display: flex;
  flex-direction: column;
  gap: 12px;

  p {
    font-size: 1rem;
    line-height: 1.25rem;
    font-weight: 400;
  }
}
.card__content__info {
  display: flex;
  flex-direction: column;
  gap: 20px;

  h5 {
    font-size: 2rem;
    line-height: 2.5rem;
    font-weight: 700;
  }
  span {
    font-size: 2rem;
    line-height: 2.25rem;
    font-weight: 700;
  }
}
.popular__button {
  font-size: 1.5rem;
  line-height: 1.75rem;
  font-weight: 700;
  padding: 1.5rem 2.81rem;
  width: 100%;
  border-radius: 24px;
}

@media (max-width: 1319px) {
  .popular__section {
    gap: 32px;
    margin: 57px 0 80px 0;

    h2 {
      font-size: 1.25rem;
      line-height: 1.5rem;
    }
  }
  .popular__carousel {
    gap: 0;
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
  }
  .popular__card {
    flex: 0 0 100%;
    height: 490px;
    margin-right: 12px;
    scroll-snap-align: start;
    padding: 1.75rem 1.25rem;

    .bg__pattern {
      width: 100%;
    }
    .car__img {
      transform: translateX(-50%);
      left: 50%;
      width: 273px;
      top: 67px;
    }
  }
  .popular__card:last-child {
    margin-right: 0;
  }
  .card__content__info {
    h5 {
      font-size: 1.5rem;
      line-height: 1.75rem;
    }
  }
  .card__content__info-main {
    p {
      font-size: 0.935rem;
      line-height: 1.185rem;
    }
  }
  .card__content__info-wrapper {
    gap: 40px;
  }
  .popular__button {
    font-size: 1rem;
    line-height: 1.25rem;
    padding: 1rem 2.805rem;
    border-radius: 16px;
  }
}
/* END POPULAR */
