@import "./components/Header.css";
@import "./components/HeroSection.css";
@import "./components/FormSection.css";
@import "./components/AdvantagesSection.css";
@import "./components/TabsSection.css";
@import "./components/PopularSection.css";
