:root {
  --bg-cyan: #56e0ea;
  --bg-white: #ffffff;
  --bg-lightGray: #f8f8f8;

  --text-white: #ffffff;
  --text-lightGray: #b8b8b8;
  --text-black: #1c1c1c;
  --text-LightBlue: #0070dd;
  --text-darkerBlue: #01101b;
  --text-blue: #000f6e;

  --radio-default: #d3e0f0;
  --radio-active: #000f6e;

  --default-outline: #000f6e;
  --default-shadow: 2px 4px 40px 0 #adadad33;
}

* {
  font-family: Geologica;
}
*:focus-visible {
  border-radius: 4px;
  outline: 2px solid var(--default-outline);
}

html {
  scroll-behavior: smooth;
  margin-top: 40px;
  font-size: 16px;
}

.header,
.main,
.section,
.footer {
  max-width: 1280px;
  margin: 0 auto;
}

/* CUSTOM CHECKBOX (FOR BOTH CHECKBOXES AND RADIO-BUTTONS) */
.custom__checkbox {
  position: relative;
  width: 32px;
  height: 32px;
  border-radius: 4px;
  margin: 0;
  border: none;
  outline: none;
  padding: 0;
  appearance: none;
  -webkit-appearance: none;
  background-color: var(--radio-default);
  transition: 0.3s all ease;
  cursor: pointer;
}
.custom__checkbox:checked {
  background-color: var(--radio-active);
}
.custom__checkbox:focus {
  outline: none;
  box-shadow: none;
}
.custom__checkbox:focus-visible {
  border-radius: 4px;
  outline: 2px solid var(--default-outline);
}
.custom__checkbox:checked::after {
  content: "";
  width: 17px;
  height: 16px;
  background: url("/images/icons/check.svg");
  position: absolute;
  transform: translateX(50%) translateY(50%);
}
